<mat-grid-list cols="3" rowHeight="2rem" gutterSize="1.5rem">
  <div>
    <!-- <mat-grid-tile>
       <button (click)="onCriteriaSelect(1)" mat-raised-button color="accent" color="primary">Oceania</button>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(2)"  mat-raised-button color="accent" color="primary">America</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(3)"  mat-raised-button color="accent" color="primary">Europa</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(4)" mat-raised-button color="accent" color="primary">Asia</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
