<mat-grid-list cols="2" rowHeight="20rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile><img src="../../assets/continente.jpg" width="600" height="300"></mat-grid-tile>
    <mat-grid-tile>
      <div class="texto">
        <h1>¿Cuales son los continentes?</h1>
      <hr>
      <p>Se considera como continente a una gran extensión de tierra que se diferencia de otras menores o sumergidas por conceptos geográficos, como son los océanos; culturales, como la etnografía; y la historia de cada uno.</p>
      <p>La división de la Tierra en continentes es convencional, y suelen reconocerse seis continentes; por ejemplo, una división en seis continentes suele ser: Asia, Antártida, Europa, África, Oceanía y América, aunque hay muchas clasificaciones que separan América, como por ejemplo: América del Norte, América Central y América del Sur.</p>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="texto">
        <h1>¿Cuantos paises existen?</h1>
        <hr>
        <p>el número de países sería 195, si bien Palestina no está reconocida como estado soberano por algunos miembros de la ONU, lo que rebajaría el número a 194. No obstante, cabe señalar que hay otros estados con reconocimiento internacional limitado. Hay estados reconocidos por uno o varios miembros de la ONU, reconocidos por estados no miembros de la ONU e incluso no reconocido por ningún Estado</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Naciones-Unidas.jpg" width="600" height="300"></mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2">
      <div class="texto">
        <h1 style="text-align: center;">Si deseas saber m&aacute;s, contactate con nosotros</h1>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2" ><img style="background-color: rgba(240, 248, 255, 0);" src="../../assets/télefono.jpg" height="200%"></mat-grid-tile>
  </div>
  <mat-grid-tile colspan="2">
    <div class="texto">
      <h1 style="text-align: center;">xxx-xxx-xxx</h1>
    </div>
  </mat-grid-tile>

</mat-grid-list>

